JAWG_API_KEY="jawg.io api key"

HOST="0.0.0.0"
PORT=5000

TIMEZONE="Europe/Paris"
REFRESH_INTERVAL=3600

monitoring_enabled=false
db_name=name
db_host=localhost
db_port=5432
db_user=user
db_password=pwd
